{% extends 'base.html.twig' %}

{% block body %}
    <h1>A propos de nous</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis esse fuga impedit laudantium maxime placeat quasi reiciendis tempora tempore. Aliquid earum et illo ipsa maxime odio pariatur possimus quae unde!</p>
{% endblock %}
